
body {
  background-color: darkblue;
}

#board {
  width: 800px;
  height: 400px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: teal;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  }

  #player1{
    color: white;
    position: absolute;
    top: 12px;
    font-size: 40px;
    left: 100px;
  }

  #player2{
    color: white;
    position: absolute;
    top: 12px;
    font-size: 40px;
    left: 700px;
  }

  img {
    position: absolute;
    margin: auto;
    height: 400px;
    width: 200px;
    left: 0;
    right:0;
  }
  
  #paddle1 {
    position:absolute;
    background: white;
    height: 80px;
    width: 20px;
  }

  #paddle2 {
    position:absolute;
    background: white;
    height: 80px;
    width: 20px;
    left: 780px;
  }

/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */

