
body {
  background-color: greenyellow;
 }
  
 #board {
  width: 800px;
  height: 400px;
  border: 1px solid white;
  position: relative;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/32/Dotted-line.png);
  background-repeat: repeat-y;
  background-color: white;
  background-position: center;
  left: 500px;
  top: 200px;
 }
  
 #ball {
  background-color: teal;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 385px;
  top: 170px;
  }
  
  #player1{
    color: red;
    position: absolute;
    top: 12px;
    font-size: 40px;
    left: 100px;
  }
  
  #player2{
    color: green;
    position: absolute;
    top: 12px;
    font-size: 40px;
    left: 700px;
  }
  
  #paddle1 {
    position:absolute;
    background: red;
    height: 80px;
    width: 20px;
  }
  
  #paddle2 {
    position:absolute;
    background: green;
    height: 80px;
    width: 20px;
    right: 0px;
    /* left: 780px; */
  }
 /*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
 /*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */ 